@using Microsoft.Data.SqlClient
@using ScrumRetroApp.Shared.DTOs
@inherits NewRetroComponentBase

@namespace ScrumRetroApp.Blazor.Components
<!--TODO Style in eigenes CSS!!!!-->

<style>
    .overlay {
        background: rgba(0, 0, 0, 0.7);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity 500ms;
        /*        visibility: hidden;*/
        /*        opacity: 0;*/
    }

    .popup {
        background: #fff;
        border-radius: 5px;
        margin: 70px auto;
        position: relative;
        transition: all 5s ease-in-out;
        width: 35%;
    }

    .popup-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 3%;
        width: 100%;
    }

    .popup-input {
        display: flex;
        height: auto;
        overflow: hidden;
        width: 100%;
    }

    .popup-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 3%;
        width: 100%;
    }

    .popup-form {
        height: auto;
        width: 100%;
    }

    .modal {
        display: flex;
    }

    select {
        font-family: sans-serif, 'FontAwesome'
    }

    td {
        text-align: center !important;
        vertical-align: middle !important;
    }
</style>

<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="popup-header">
                    <img src="images/M&amp;S.png" alt="M&amp;S Logo" width="25%">
                    <br />
                    <h2>New retrospective</h2>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="selectSprint" class="col-sm-3 col-form-label">Sprint:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="selectSprint" @onchange="@((ChangeEventArgs e) => strSelectedSprint = e.Value.ToString())">
                                @foreach(string strSprint in lstSprints)
                                {
                                    <option>@strSprint</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tableColumns" class="col-sm-3 col-form-label">Columns (Max 4):</label>
                        <div class="col-sm-9">
                            <table class="table table-striped custom" id="tableColumns">
                                <tbody>
                                    @foreach(RetroColumnDTO dto in dtosRetroColumn)
                                    {
                                        <tr>
                                            <td class="p-0" style="width: 10%">
                                                <!--- prevenDefault eingebaut, weil sonst Seite neu geladen wird.-->
                                                <button style="background: none; border: none;" @onclick:preventDefault="true" @onclick="@(e => RemoveColumn(dto))">
                                                    <img src="images/cross.svg" width="20" height="20" alt="cross" />
                                                </button>
                                            </td>
                                            <td contenteditable>@dto.Name</td>
                                            <td style="width: 22%">
                                                <input type="color" id="color" value="@dto.Color">
                                            </td>
                                            <td style="width: 22%">
                                                <select class="form-control p-0 pl-1" id="selectEmoji">
                                                    @((MarkupString) EmojiOptions)
                                                </select>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- TODO Falls etwas geändert wird (Farbe, Namen, etc.) werden die Änderungen noch nicht übernommen.-->
                            @if(dtosRetroColumn.Count < 4)
                            {
                                <div style="float: left; margin-left: 1%; width: 100%">
                                    <button style="background: none; border: none; text-align: left; width: 100%" @onclick:preventDefault="true" @onclick="@AddColumn">
                                        <img src="images/plus.svg" width="20" height="20" alt="plus" />
                                        <span style="vertical-align: middle; width: auto; margin-left: 2%">New Column</span>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="selectMaxVotes" class="col-sm-3 col-form-label">Max votes:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="selectMaxVotes" @onchange="@((ChangeEventArgs e) => nMaxVotes = int.Parse(e.Value.ToString()))">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option selected value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="checkboxAnonymity" class="col-sm-3 col-form-label">Anonymity:</label>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input position-static" @bind="bAnonymity" type="checkbox" id="checkboxAnonymity" value="@bAnonymity" aria-label="..." style="float: left; margin-top: 3%">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="display: block">
                <button type="button" class="btn btn-secondary" @onclick="@Cancel" style="float: left">Cancel</button>
                <button type="button" class="btn btn-secondary" @onclick="@Create" style="float: right">Create</button>
            </div>
        </div>
    </div>
</div>